sudo: false
dist: focal
language: node_js
node_js:
  - '14'
  - '16'
  - '18'
cache:
  directories:
    - node_modules
install:
  - yarn install --immutable --immutable-cache --check-cache
script:
  - yarn lint
  - yarn test
after_success:
  - yarn coveralls
